
@model TatooParlor.TatooSalon

@{
	ViewBag.Title = "Имя " + Model.VisitorName;
	Layout = "_Layout";
}
<h2>Имя @Model.VisitorName</h2>
@Model.VisitorName
<table class="table table-bordered table-responsive table-hover">
	<thead>
		<tr>
			<td>Контакты</td>
			<td>Пол</td>
			<td>Стиль тату</td>
			<td>Часть тела</td>
			<td>Мастер</td>
			<td>Дата</td>
		</tr>
	</thead>
	@foreach (var sm in Model.Journal)
	{
	<tr>
		<td>@sm.Contacts</td>
		<td>@sm.Gender</td>
		<td>@sm.TatooStyles</td>
		<td>@sm.BodyPart</td>
		<td>@sm.Master</td>
		<td>@sm.DateToVisit</td>
	</tr>
	}
</table>

